# Defaults
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md


# Repo files
/scratch
/reports
/confs
**/*.egg-info
/data
/example-confs
final_split.yaml
/slurm
/switches
/venv

# Copied from .gitignore
.lia.cache
.nia.cache
.nra.cache
*.vo
*.vok
*.vos
*.glob
*.aux
.Makefile.d
Makefile.conf


/raw-data/coq-dataset/repos