# Data and model locations
raw-data
data
models

# Config files
src/tactic_gen/confs/**
!src/tactic_gen/confs/codellama_basic.yaml

# Python files
venv
*.egg-info
build
__pycache__

# IDE files
mypy.ini
.vscode
