# Data and model locations
/raw-data/
/data/
/models/
/evaluations/
/reports/
/docker/
/logs/

# Slurm
/slurm/*
!slurm/example-jobs

# Temporary
/tmp/

# Config Files
/confs/

# Python files
/venv/
*.egg-info
/build/
__pycache__
.DS_STORE
.hypothesis
.coverage

# Coq Files
.lia.cache
.nia.cache
.nra.cache

# IDE files
.vscode
