# Data and model locations
raw-data
data
data-small
models
models-small
preprocessing
premise-eval
results
evals
reports
distances
analysis
banks
proof-goals
step-evals
eval_examples
unimath-step-eval
vector-dbs

# Slurm
slurm*.out


# Sentence database
sentences.db

# Temporary
port-map
test_size.py
err.txt
.cm-search

# Examples
examples
failed-examples

# Config files
# - Creating premise and tactic datasets 
conf.pkl

# - Training premise dataset
src/premise_selection/confs/**
!src/premise_selection/confs/premise_train_basic.yaml

# - Training tactic dataset
src/tactic_gen/confs/**
!src/tactic_gen/confs/codellama_basic.yaml

# - Eval
evals-before-*
evals-small
evals-bad-imports
eval-results
dev-results
dev-results.csv
build-coq
src/evaluation/confs/**
!src/evaluation/confs/eval.yaml
safe_val.txt
shared-thms.json

# scripts
clean_search.sh
refresh_evals.sh


# Python files
venv
*.egg-info
build
__pycache__
.DS_STORE
.hypothesis

# Coq Files
.lia.cache
.nia.cache
.nra.cache

# IDE files
.vscode

# Proof search files
.proof-search
proof-tree.json
*goal_aux.v

# Profiling
snap.pkl

# Temporary/Throw-away python scripts
src/throw_away
