[submodule "coq-lsp-pyclient"]
	path = coq-lsp-pyclient
	url = https://github.com/sr-lab/coq-lsp-pyclient
	branch = master 

[submodule "CPDT"]
	path = test/test_files/coq-mini-dataset/repos/yalhessi-CPDT
	url = https://github.com/yalhessi/CPDT
	ignore = untracked

[submodule "verified-verifier"]
	path = test/test_files/coq-mini-dataset/repos/yalhessi-verified-verifier
	url = https://github.com/yalhessi/verified-verifier
	ignore = untracked
[submodule "codellama"]
	path = codellama
	url = https://github.com/facebookresearch/codellama
[submodule "coq-crawler"]
	path = coq-crawler
	url = git@github.com:Nfsaavedra/coq-crawler.git
